/* ul li:first-child a {
    color: tomato;
} */

/* ul li:last-child a {
    color: tomato;
} */

ul li:nth-child(odd) a {
    color: tomato;
}

/* ul li a:active {
    color: tomato;
    font-size: 2em;
} */

ul li a:hover {
    color: tomato;
    font-size: 2em;
}

ul a:hover::before {
    content: '\2192';
    margin: 10px;
    color: red;
}


/* 
    Pseudo Elements
    https://www.w3schools.com/css/css_pseudo_elements.asp
    
    Psudo Classes
    https://www.w3schools.com/css/css_pseudo_classes.asp
 */