
#id {
    background-color: blueviolet;
}
html .class {
    background-color: tomato;
}
.class {
    background-color: tomato;
}
html body {
    background: aqua;
}
body {
    background-color: aqua; 
}